{% extends 'base.html' %}

{% block title %}Lista de Objetos{% endblock %}

{% block content %}
<style>
    .banner {
        background: linear-gradient(to bottom, #1e3a8a, #2563eb);
        border: 4px solid #8b7500;
        color: #fbbf24;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
        margin: 20px auto;
        width: fit-content;
        font-family: 'Cinzel', serif;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    h2.text-warning {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .card {
        height: fit-content;
        position: relative;
        overflow: hidden;
    }

    .card img {
        max-height: 80px;
        width: 100%;
        object-fit: contain;
        margin-top: 0.75rem;
    }

    .card-body {
        padding: 0.5rem;
        text-align: center;
    }

    .card-link {
        color: inherit;
        text-decoration: none;
    }

    .card-link:hover {
        text-decoration: none;
    }
</style>

<div class="container my-5">
    <h1 class="text-center mb-4 text-light display-4 title-effect">Objetos</h1>
    
    <style>
        .title-effect {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing:1px;
            text-shadow: 0 0 10px #00ffff, 0 0 20px #00cccc, 0 0 30px #009999;
            color: #00ffff;
        }
    </style>

    <!-- Sección de Consumibles -->
    {% if consumables %}
    <h2 class="text-warning mt-4">Consumibles</h2>
    <div class="row">
        {% for item in consumables %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2 custom-col-consumables">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Sección de Reliquias -->
    {% if relics_base or relics_fragment or relics_tier1 or relics_tier2 or relics_tier3 %}
    <h2 class="text-warning mt-4">Reliquias</h2>

    {% if relics_base %}
    <h3 class="text-primary">Base</h3>
    <div class="row">
        {% for item in relics_base %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if relics_fragment %}
    <h3 class="text-primary">Fragmentos</h3>
    <div class="row">
        {% for item in relics_fragment %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if relics_tier1 %}
    <h3 class="text-primary">Tiers 1</h3>
    <div class="row">
        {% for item in relics_tier1 %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if relics_tier2 %}
    <h3 class="text-primary">Reliquias Tier 2</h3>
    <div class="row">
        {% for item in relics_tier2 %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if relics_tier3 %}
    <h3 class="text-primary">Reliquias Tier 3</h3>
    <div class="row">
        {% for item in relics_tier3 %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% endif %}


    <!-- Sección de Iniciales -->
    {% if initials_tier1 or initials_tier2 %}
    <h2 class="text-warning mt-4">Objetos Iniciales</h2>

    {% if initials_tier1 %}
    <h3 class="text-primary">Tier 1</h3>
    <div class="row">
        {% for item in initials_tier1 %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2 custom-col-consumables">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if initials_tier2 %}
    <h3 class="text-primary">Tier 2</h3>
    <div class="row">
        {% for item in initials_tier2 %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2 custom-col-consumables">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}

    <!-- Sección de Pasivos -->
    {% if passives_tier1 or passives_tier2 or passives_tier3 %}
    <h2 class="text-warning mt-4">Objetos Pasivos</h2>

    {% if passives_tier1 %}
    <h3 class="text-primary">Tier 1</h3>
    <div class="row">
        {% for item in passives_tier1 %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2 custom-col-consumables">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if passives_tier2 %}
    <h3 class="text-primary">Tier 2</h3>
    <div class="row">
        {% for item in passives_tier2 %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2 custom-col-consumables">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if passives_tier3 %}
    <h3 class="text-primary">Tier 3</h3>
    <div class="row">
        {% for item in passives_tier3 %}
        <div class="col-6 col-sm-4 col-md-2 col-lg-2 custom-col-consumables">
            <a href="{% url 'item_detail' item.id %}" class="card-link">
                <div class="card text-white bg-dark mb-2">
                    {% if item.image %}
                    <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}">
                    {% endif %}
                    <div class="card-body p-2">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="text-warning"><strong>Precio:</strong> {{ item.price }} oro</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}