--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_account (
    id bigint NOT NULL,
    role character varying(20) NOT NULL,
    telephone character varying(100) NOT NULL,
    address text NOT NULL,
    user_id integer NOT NULL,
    avatar character varying(100)
);


ALTER TABLE public.accounts_account OWNER TO postgres;

--
-- Name: accounts_account_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_account ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: builds_build; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.builds_build (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    god_id bigint NOT NULL,
    starter_item_id bigint NOT NULL,
    user_id integer NOT NULL,
    is_random boolean NOT NULL
);


ALTER TABLE public.builds_build OWNER TO postgres;

--
-- Name: builds_build_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.builds_build ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.builds_build_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: builds_build_passive_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.builds_build_passive_items (
    id bigint NOT NULL,
    build_id bigint NOT NULL,
    item_id bigint NOT NULL
);


ALTER TABLE public.builds_build_passive_items OWNER TO postgres;

--
-- Name: builds_build_passive_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.builds_build_passive_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.builds_build_passive_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: builds_build_relics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.builds_build_relics (
    id bigint NOT NULL,
    build_id bigint NOT NULL,
    item_id bigint NOT NULL
);


ALTER TABLE public.builds_build_relics OWNER TO postgres;

--
-- Name: builds_build_relics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.builds_build_relics ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.builds_build_relics_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: builds_buildrating; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.builds_buildrating (
    id bigint NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp with time zone NOT NULL,
    build_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.builds_buildrating OWNER TO postgres;

--
-- Name: builds_buildrating_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.builds_buildrating ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.builds_buildrating_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_chatroom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_chatroom (
    id bigint NOT NULL,
    name character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.chat_chatroom OWNER TO postgres;

--
-- Name: chat_chatroom_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.chat_chatroom ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_chatroom_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_chatroom_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_chatroom_participants (
    id bigint NOT NULL,
    chatroom_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.chat_chatroom_participants OWNER TO postgres;

--
-- Name: chat_chatroom_participants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.chat_chatroom_participants ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_chatroom_participants_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: chat_message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_message (
    id bigint NOT NULL,
    content text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    is_read boolean NOT NULL,
    chat_room_id bigint NOT NULL,
    sender_id integer NOT NULL
);


ALTER TABLE public.chat_message OWNER TO postgres;

--
-- Name: chat_message_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.chat_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.chat_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dioses_ability; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dioses_ability (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    ability_type character varying(50) NOT NULL,
    description text NOT NULL,
    range double precision NOT NULL,
    radius double precision NOT NULL,
    image character varying(100)
);


ALTER TABLE public.dioses_ability OWNER TO postgres;

--
-- Name: dioses_ability_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.dioses_ability ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dioses_ability_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dioses_god; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dioses_god (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    pantheon character varying(50) NOT NULL,
    role character varying(20) NOT NULL,
    health character varying(50) NOT NULL,
    mana character varying(50) NOT NULL,
    speed character varying(50) NOT NULL,
    power character varying(10) NOT NULL,
    attack_speed character varying(50) NOT NULL,
    progresion character varying(50) NOT NULL,
    proteccion_fisica character varying(50) NOT NULL,
    proteccion_magica character varying(50) NOT NULL,
    hp5 character varying(50) NOT NULL,
    mp5 character varying(50) NOT NULL,
    lore text NOT NULL,
    image character varying(100),
    difficulty character varying(10) NOT NULL,
    damage character varying(50) NOT NULL
);


ALTER TABLE public.dioses_god OWNER TO postgres;

--
-- Name: dioses_god_abilities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dioses_god_abilities (
    id bigint NOT NULL,
    god_id bigint NOT NULL,
    ability_id bigint NOT NULL
);


ALTER TABLE public.dioses_god_abilities OWNER TO postgres;

--
-- Name: dioses_god_abilities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.dioses_god_abilities ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dioses_god_abilities_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dioses_god_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.dioses_god ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dioses_god_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: forum_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.forum_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(50) NOT NULL
);


ALTER TABLE public.forum_category OWNER TO postgres;

--
-- Name: forum_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.forum_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.forum_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: forum_comment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.forum_comment (
    id bigint NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    author_id integer NOT NULL,
    post_id bigint NOT NULL
);


ALTER TABLE public.forum_comment OWNER TO postgres;

--
-- Name: forum_comment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.forum_comment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.forum_comment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: forum_post; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.forum_post (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    author_id integer NOT NULL,
    category_id bigint,
    views integer NOT NULL,
    CONSTRAINT forum_post_views_check CHECK ((views >= 0))
);


ALTER TABLE public.forum_post OWNER TO postgres;

--
-- Name: forum_post_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.forum_post ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.forum_post_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gamemodes_gamemode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gamemodes_gamemode (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    image character varying(100),
    minimap character varying(100),
    resume text,
    statistics jsonb,
    unique_gameplay_mechanics text
);


ALTER TABLE public.gamemodes_gamemode OWNER TO postgres;

--
-- Name: gamemodes_gamemode_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gamemodes_gamemode ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gamemodes_gamemode_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gamemodes_gamemode_jungle_camps; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gamemodes_gamemode_jungle_camps (
    id bigint NOT NULL,
    gamemode_id bigint NOT NULL,
    junglecamp_id bigint NOT NULL
);


ALTER TABLE public.gamemodes_gamemode_jungle_camps OWNER TO postgres;

--
-- Name: gamemodes_gamemode_jungle_camps_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gamemodes_gamemode_jungle_camps ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gamemodes_gamemode_jungle_camps_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gamemodes_junglecamp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gamemodes_junglecamp (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL
);


ALTER TABLE public.gamemodes_junglecamp OWNER TO postgres;

--
-- Name: gamemodes_junglecamp_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gamemodes_junglecamp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gamemodes_junglecamp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: news_abilitybalance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_abilitybalance (
    id bigint NOT NULL,
    change_description text NOT NULL,
    ability_id bigint NOT NULL,
    god_balance_id bigint NOT NULL
);


ALTER TABLE public.news_abilitybalance OWNER TO postgres;

--
-- Name: news_abilitybalance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_abilitybalance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_abilitybalance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: news_event; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_event (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    publication_date date NOT NULL,
    image character varying(100),
    description text NOT NULL,
    standard_tracks text NOT NULL,
    quests jsonb NOT NULL
);


ALTER TABLE public.news_event OWNER TO postgres;

--
-- Name: news_event_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_event ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: news_godbalance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_godbalance (
    id bigint NOT NULL,
    change_type character varying(10) NOT NULL,
    general_change text,
    god_id bigint NOT NULL,
    patch_id bigint NOT NULL
);


ALTER TABLE public.news_godbalance OWNER TO postgres;

--
-- Name: news_godbalance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_godbalance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_godbalance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: news_itembalance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_itembalance (
    id bigint NOT NULL,
    change_description text NOT NULL,
    change_type character varying(10) NOT NULL,
    item_id bigint NOT NULL,
    patch_id bigint NOT NULL
);


ALTER TABLE public.news_itembalance OWNER TO postgres;

--
-- Name: news_itembalance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_itembalance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_itembalance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: news_patchnotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_patchnotes (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    publication_date date NOT NULL,
    image character varying(100),
    game_modes text,
    new_god_skin character varying(255),
    new_voice_pack character varying(255),
    new_god_skin_voice_actors text
);


ALTER TABLE public.news_patchnotes OWNER TO postgres;

--
-- Name: news_patchnotes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_patchnotes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_patchnotes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: objetos_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.objetos_item (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    price integer NOT NULL,
    tier integer,
    image character varying(100),
    from_item_id bigint,
    stats jsonb NOT NULL,
    total_price integer,
    CONSTRAINT objetos_item_price_check CHECK ((price >= 0)),
    CONSTRAINT objetos_item_total_price_check CHECK ((total_price >= 0))
);


ALTER TABLE public.objetos_item OWNER TO postgres;

--
-- Name: objetos_item_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.objetos_item_categories (
    id bigint NOT NULL,
    item_id bigint NOT NULL,
    itemcategory_id bigint NOT NULL
);


ALTER TABLE public.objetos_item_categories OWNER TO postgres;

--
-- Name: objetos_item_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.objetos_item_categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.objetos_item_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: objetos_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.objetos_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.objetos_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: objetos_itemcategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.objetos_itemcategory (
    id bigint NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.objetos_itemcategory OWNER TO postgres;

--
-- Name: objetos_itemcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.objetos_itemcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.objetos_itemcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: randomizer_randomizerhistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.randomizer_randomizerhistory (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    build_id bigint,
    god_id bigint,
    user_id integer
);


ALTER TABLE public.randomizer_randomizerhistory OWNER TO postgres;

--
-- Name: randomizer_randomizerhistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.randomizer_randomizerhistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.randomizer_randomizerhistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_godstat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_godstat (
    id bigint NOT NULL,
    usage_count integer NOT NULL,
    win_rate double precision NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    god_id bigint NOT NULL
);


ALTER TABLE public.stats_godstat OWNER TO postgres;

--
-- Name: stats_godstat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_godstat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_godstat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stats_itemstat; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stats_itemstat (
    id bigint NOT NULL,
    usage_count integer NOT NULL,
    usage_type character varying(10) NOT NULL,
    win_rate double precision NOT NULL,
    last_updated timestamp with time zone NOT NULL,
    item_id bigint NOT NULL
);


ALTER TABLE public.stats_itemstat OWNER TO postgres;

--
-- Name: stats_itemstat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stats_itemstat ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stats_itemstat_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tierlist_tier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tierlist_tier (
    id bigint NOT NULL,
    tier character varying(1) NOT NULL,
    god_id bigint NOT NULL,
    tierlist_id bigint NOT NULL,
    notes character varying(200) NOT NULL
);


ALTER TABLE public.tierlist_tier OWNER TO postgres;

--
-- Name: tierlist_tier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tierlist_tier ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tierlist_tier_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tierlist_tierlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tierlist_tierlist (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    description text NOT NULL,
    is_public boolean NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.tierlist_tierlist OWNER TO postgres;

--
-- Name: tierlist_tierlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tierlist_tierlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tierlist_tierlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tierlist_tierlistcomment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tierlist_tierlistcomment (
    id bigint NOT NULL,
    text text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    tierlist_id bigint NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.tierlist_tierlistcomment OWNER TO postgres;

--
-- Name: tierlist_tierlistcomment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tierlist_tierlistcomment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tierlist_tierlistcomment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_account; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_account (id, role, telephone, address, user_id, avatar) FROM stdin;
1	Administrador	633788724	ad	1	avatars/360243845760fc38bb2ae65152f63431.jpg
5	Usuario	6885515002	ad	6	
4	Usuario	6885515001	ad	5	avatars/images.jpg
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: builds_build; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: builds_build_passive_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: builds_build_relics; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: builds_buildrating; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.builds_buildrating (id, rating, comment, created_at, build_id, user_id) FROM stdin;
1	2		2025-04-03 19:32:09.436351+02	25	5
2	5		2025-04-03 19:56:01.983802+02	22	5
3	3		2025-04-04 02:20:15.146764+02	28	1
4	5		2025-04-04 02:23:58.732309+02	28	6
5	3		2025-04-04 20:19:14.934838+02	29	1
\.


--
-- Data for Name: chat_chatroom; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_chatroom (id, name, created_at, updated_at) FROM stdin;
12		2025-04-08 17:56:54.476644+02	2025-04-08 17:56:54.476644+02
11		2025-04-08 17:56:20.964991+02	2025-04-22 13:27:34.730632+02
13		2025-04-08 17:56:59.665928+02	2025-04-22 13:28:09.219538+02
\.


--
-- Data for Name: chat_chatroom_participants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_chatroom_participants (id, chatroom_id, user_id) FROM stdin;
21	11	1
22	11	5
23	12	1
24	12	6
25	13	1
26	13	5
27	13	6
\.


--
-- Data for Name: chat_message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.chat_message (id, content, "timestamp", is_read, chat_room_id, sender_id) FROM stdin;
9	Hola	2025-04-08 17:56:35.382937+02	f	11	1
10	bjbih	2025-04-08 18:52:02.039348+02	f	11	1
11	hola	2025-04-22 13:26:57.935653+02	f	11	1
12	que tal	2025-04-22 13:27:34.72563+02	f	11	1
13	sisi	2025-04-22 13:28:09.210084+02	t	13	1
\.


--
-- Data for Name: dioses_ability; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dioses_god; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dioses_god_abilities; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: forum_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.forum_category (id, name, slug) FROM stdin;
\.


--
-- Data for Name: forum_comment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.forum_comment (id, content, created_at, author_id, post_id) FROM stdin;
6	si si	2025-04-08 18:00:53.09155+02	1	2
7	hola	2025-04-09 13:36:53.828479+02	5	2
\.


--
-- Data for Name: forum_post; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.forum_post (id, title, content, created_at, updated_at, author_id, category_id, views) FROM stdin;
3	Claro	dsnaldna	2025-04-09 13:59:28.379493+02	2025-04-09 13:59:28.379493+02	1	\N	0
2	Hola	sisi	2025-04-07 18:21:40.862196+02	2025-04-09 14:07:52.1336+02	1	\N	4
\.


--
-- Data for Name: gamemodes_gamemode; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gamemodes_gamemode_jungle_camps; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gamemodes_gamemode_jungle_camps (id, gamemode_id, junglecamp_id) FROM stdin;
1	1	1
\.


--
-- Data for Name: gamemodes_junglecamp; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gamemodes_junglecamp (id, name, description) FROM stdin;
1	Campamentos de Harp├¡as del Fondo	Hay cuatro de estos, ubicados cerca de las Torres de Nivel 2 de los carriles de d├║o y solo. Est├ín compuestos por dos Harp├¡as y una Harp├¡a Anciana. Aparecen 30 segundos despu├®s de comenzar el juego y tienen un tiempo de respawn de 60 segundos.
\.


--
-- Data for Name: news_abilitybalance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.news_abilitybalance (id, change_description, ability_id, god_balance_id) FROM stdin;
1	- Aumento del Cooldown de 15/14/13/12/11 s a 15/14.5/14/13.5/13 s.	50	1
2	- Aumento del Cooldown de 90s a 100s	51	1
\.


--
-- Data for Name: news_event; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.news_event (id, title, publication_date, image, description, standard_tracks, quests) FROM stdin;
\.


--
-- Data for Name: news_godbalance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.news_godbalance (id, change_type, general_change, god_id, patch_id) FROM stdin;
1	Nerf		8	1
\.


--
-- Data for Name: news_itembalance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.news_itembalance (id, change_description, change_type, item_id, patch_id) FROM stdin;
1	- Costo reducido de 2350 a 2300\r\n\r\n- Reducci├│n de Cooldown de definitiva en la pasiva aumentada de 6 s a 10 s	Buff	17	1
\.


--
-- Data for Name: news_patchnotes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.news_patchnotes (id, title, publication_date, image, game_modes, new_god_skin, new_voice_pack, new_god_skin_voice_actors) FROM stdin;
1	SMITE 2025-01-21 Update 12.1.8253 (12.1)	2025-02-12	patch_notes/Wallpaper-Cthuwu-Cthulhu-2650x695_8iFLcqk.webp		\N	\N	
\.


--
-- Data for Name: objetos_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: objetos_item_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: objetos_itemcategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.objetos_itemcategory (id, name) FROM stdin;
12	HP5
16	Mana
18	MP5
1	Inicial
2	Reliquia
3	Consumible
5	Poder M├ígico
6	Poder F├¡sico
7	Velocidad de Ataque
8	Cooldown
9	Probabilidad de Ataque Cr├¡tico
10	Reducci├│n de Control de Masas
11	Salud
13	Robo de Vida M├ígico
14	Penetraci├│n M├ígica
15	Protecci├│n M├ígica
17	Velocidad de Movimiento
19	Robo de Vida F├¡sico
20	Penetraci├│n F├¡sica
21	Protecci├│n F├¡sica
23	Objeto Pasivo
24	Base
4	Fragmento
\.


--
-- Data for Name: randomizer_randomizerhistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stats_godstat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_godstat (id, usage_count, win_rate, last_updated, god_id) FROM stdin;
\.


--
-- Data for Name: stats_itemstat; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stats_itemstat (id, usage_count, usage_type, win_rate, last_updated, item_id) FROM stdin;
\.


--
-- Data for Name: tierlist_tier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tierlist_tier (id, tier, god_id, tierlist_id, notes) FROM stdin;
14	S	1	15	
15	S	6	15	
16	A	7	15	
17	S	12	15	
18	A	11	15	
19	B	9	15	
20	A	8	15	
21	C	10	15	
22	F	4	15	
23	B	3	15	
24	D	13	15	
25	C	5	15	
36	S	3	17	
37	B	6	17	
38	A	7	17	
39	S	9	17	
40	S	11	17	
41	A	12	17	
42	D	13	17	
43	S	4	17	
44	F	10	17	
\.


--
-- Data for Name: tierlist_tierlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tierlist_tierlist (id, name, created_at, user_id, description, is_public, updated_at) FROM stdin;
15	Mejores Dioses	2025-03-12 19:33:34.058976+01	1	LOS MEJORES	f	2025-03-12 19:33:34.059991+01
17	Mejores Dioses	2025-03-19 15:48:21.297264+01	1	dads	t	2025-04-07 17:31:20.758429+02
\.


--
-- Data for Name: tierlist_tierlistcomment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tierlist_tierlistcomment (id, text, created_at, tierlist_id, user_id) FROM stdin;
\.


--
-- Name: accounts_account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_account_id_seq', 5, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 144, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 6, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: builds_build_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.builds_build_id_seq', 34, true);


--
-- Name: builds_build_passive_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.builds_build_passive_items_id_seq', 171, true);


--
-- Name: builds_build_relics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.builds_build_relics_id_seq', 66, true);


--
-- Name: builds_buildrating_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.builds_buildrating_id_seq', 5, true);


--
-- Name: chat_chatroom_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chat_chatroom_id_seq', 13, true);


--
-- Name: chat_chatroom_participants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chat_chatroom_participants_id_seq', 27, true);


--
-- Name: chat_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chat_message_id_seq', 13, true);


--
-- Name: dioses_ability_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dioses_ability_id_seq', 82, true);


--
-- Name: dioses_god_abilities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dioses_god_abilities_id_seq', 64, true);


--
-- Name: dioses_god_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dioses_god_id_seq', 13, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 326, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 36, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 49, true);


--
-- Name: forum_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.forum_category_id_seq', 1, false);


--
-- Name: forum_comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.forum_comment_id_seq', 7, true);


--
-- Name: forum_post_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.forum_post_id_seq', 3, true);


--
-- Name: gamemodes_gamemode_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gamemodes_gamemode_id_seq', 2, true);


--
-- Name: gamemodes_gamemode_jungle_camps_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gamemodes_gamemode_jungle_camps_id_seq', 1, true);


--
-- Name: gamemodes_junglecamp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gamemodes_junglecamp_id_seq', 1, true);


--
-- Name: news_abilitybalance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_abilitybalance_id_seq', 2, true);


--
-- Name: news_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_event_id_seq', 1, false);


--
-- Name: news_godbalance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_godbalance_id_seq', 1, true);


--
-- Name: news_itembalance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_itembalance_id_seq', 1, true);


--
-- Name: news_patchnotes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_patchnotes_id_seq', 1, true);


--
-- Name: objetos_item_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.objetos_item_categories_id_seq', 111, true);


--
-- Name: objetos_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.objetos_item_id_seq', 41, true);


--
-- Name: objetos_itemcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.objetos_itemcategory_id_seq', 24, true);


--
-- Name: randomizer_randomizerhistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.randomizer_randomizerhistory_id_seq', 28, true);


--
-- Name: stats_godstat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_godstat_id_seq', 1, false);


--
-- Name: stats_itemstat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stats_itemstat_id_seq', 1, false);


--
-- Name: tierlist_tier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tierlist_tier_id_seq', 44, true);


--
-- Name: tierlist_tierlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tierlist_tierlist_id_seq', 17, true);


--
-- Name: tierlist_tierlistcomment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tierlist_tierlistcomment_id_seq', 1, false);


--
-- Name: accounts_account accounts_account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_account
    ADD CONSTRAINT accounts_account_pkey PRIMARY KEY (id);


--
-- Name: accounts_account accounts_account_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_account
    ADD CONSTRAINT accounts_account_user_id_key UNIQUE (user_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: builds_build_passive_items builds_build_passive_items_build_id_item_id_0f7fbc74_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build_passive_items
    ADD CONSTRAINT builds_build_passive_items_build_id_item_id_0f7fbc74_uniq UNIQUE (build_id, item_id);


--
-- Name: builds_build_passive_items builds_build_passive_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build_passive_items
    ADD CONSTRAINT builds_build_passive_items_pkey PRIMARY KEY (id);


--
-- Name: builds_build builds_build_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build
    ADD CONSTRAINT builds_build_pkey PRIMARY KEY (id);


--
-- Name: builds_build_relics builds_build_relics_build_id_item_id_ab1fbcf6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build_relics
    ADD CONSTRAINT builds_build_relics_build_id_item_id_ab1fbcf6_uniq UNIQUE (build_id, item_id);


--
-- Name: builds_build_relics builds_build_relics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build_relics
    ADD CONSTRAINT builds_build_relics_pkey PRIMARY KEY (id);


--
-- Name: builds_buildrating builds_buildrating_build_id_user_id_18af639d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_buildrating
    ADD CONSTRAINT builds_buildrating_build_id_user_id_18af639d_uniq UNIQUE (build_id, user_id);


--
-- Name: builds_buildrating builds_buildrating_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_buildrating
    ADD CONSTRAINT builds_buildrating_pkey PRIMARY KEY (id);


--
-- Name: chat_chatroom_participants chat_chatroom_participants_chatroom_id_user_id_a0328aed_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_chatroom_participants
    ADD CONSTRAINT chat_chatroom_participants_chatroom_id_user_id_a0328aed_uniq UNIQUE (chatroom_id, user_id);


--
-- Name: chat_chatroom_participants chat_chatroom_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_chatroom_participants
    ADD CONSTRAINT chat_chatroom_participants_pkey PRIMARY KEY (id);


--
-- Name: chat_chatroom chat_chatroom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_chatroom
    ADD CONSTRAINT chat_chatroom_pkey PRIMARY KEY (id);


--
-- Name: chat_message chat_message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_message
    ADD CONSTRAINT chat_message_pkey PRIMARY KEY (id);


--
-- Name: dioses_ability dioses_ability_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dioses_ability
    ADD CONSTRAINT dioses_ability_pkey PRIMARY KEY (id);


--
-- Name: dioses_god_abilities dioses_god_abilities_god_id_ability_id_386df330_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dioses_god_abilities
    ADD CONSTRAINT dioses_god_abilities_god_id_ability_id_386df330_uniq UNIQUE (god_id, ability_id);


--
-- Name: dioses_god_abilities dioses_god_abilities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dioses_god_abilities
    ADD CONSTRAINT dioses_god_abilities_pkey PRIMARY KEY (id);


--
-- Name: dioses_god dioses_god_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dioses_god
    ADD CONSTRAINT dioses_god_name_key UNIQUE (name);


--
-- Name: dioses_god dioses_god_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dioses_god
    ADD CONSTRAINT dioses_god_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: forum_category forum_category_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_category
    ADD CONSTRAINT forum_category_name_key UNIQUE (name);


--
-- Name: forum_category forum_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_category
    ADD CONSTRAINT forum_category_pkey PRIMARY KEY (id);


--
-- Name: forum_category forum_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_category
    ADD CONSTRAINT forum_category_slug_key UNIQUE (slug);


--
-- Name: forum_comment forum_comment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_comment
    ADD CONSTRAINT forum_comment_pkey PRIMARY KEY (id);


--
-- Name: forum_post forum_post_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_post
    ADD CONSTRAINT forum_post_pkey PRIMARY KEY (id);


--
-- Name: gamemodes_gamemode_jungle_camps gamemodes_gamemode_jungl_gamemode_id_junglecamp_i_b40989b4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gamemodes_gamemode_jungle_camps
    ADD CONSTRAINT gamemodes_gamemode_jungl_gamemode_id_junglecamp_i_b40989b4_uniq UNIQUE (gamemode_id, junglecamp_id);


--
-- Name: gamemodes_gamemode_jungle_camps gamemodes_gamemode_jungle_camps_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gamemodes_gamemode_jungle_camps
    ADD CONSTRAINT gamemodes_gamemode_jungle_camps_pkey PRIMARY KEY (id);


--
-- Name: gamemodes_gamemode gamemodes_gamemode_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gamemodes_gamemode
    ADD CONSTRAINT gamemodes_gamemode_name_key UNIQUE (name);


--
-- Name: gamemodes_gamemode gamemodes_gamemode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gamemodes_gamemode
    ADD CONSTRAINT gamemodes_gamemode_pkey PRIMARY KEY (id);


--
-- Name: gamemodes_junglecamp gamemodes_junglecamp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gamemodes_junglecamp
    ADD CONSTRAINT gamemodes_junglecamp_pkey PRIMARY KEY (id);


--
-- Name: news_abilitybalance news_abilitybalance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_abilitybalance
    ADD CONSTRAINT news_abilitybalance_pkey PRIMARY KEY (id);


--
-- Name: news_event news_event_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_event
    ADD CONSTRAINT news_event_pkey PRIMARY KEY (id);


--
-- Name: news_godbalance news_godbalance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_godbalance
    ADD CONSTRAINT news_godbalance_pkey PRIMARY KEY (id);


--
-- Name: news_itembalance news_itembalance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_itembalance
    ADD CONSTRAINT news_itembalance_pkey PRIMARY KEY (id);


--
-- Name: news_patchnotes news_patchnotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_patchnotes
    ADD CONSTRAINT news_patchnotes_pkey PRIMARY KEY (id);


--
-- Name: objetos_item_categories objetos_item_categories_item_id_itemcategory_id_e2f7cd55_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_item_categories
    ADD CONSTRAINT objetos_item_categories_item_id_itemcategory_id_e2f7cd55_uniq UNIQUE (item_id, itemcategory_id);


--
-- Name: objetos_item_categories objetos_item_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_item_categories
    ADD CONSTRAINT objetos_item_categories_pkey PRIMARY KEY (id);


--
-- Name: objetos_item objetos_item_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_item
    ADD CONSTRAINT objetos_item_name_key UNIQUE (name);


--
-- Name: objetos_item objetos_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_item
    ADD CONSTRAINT objetos_item_pkey PRIMARY KEY (id);


--
-- Name: objetos_itemcategory objetos_itemcategory_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_itemcategory
    ADD CONSTRAINT objetos_itemcategory_name_key UNIQUE (name);


--
-- Name: objetos_itemcategory objetos_itemcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_itemcategory
    ADD CONSTRAINT objetos_itemcategory_pkey PRIMARY KEY (id);


--
-- Name: randomizer_randomizerhistory randomizer_randomizerhistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.randomizer_randomizerhistory
    ADD CONSTRAINT randomizer_randomizerhistory_pkey PRIMARY KEY (id);


--
-- Name: stats_godstat stats_godstat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_godstat
    ADD CONSTRAINT stats_godstat_pkey PRIMARY KEY (id);


--
-- Name: stats_itemstat stats_itemstat_item_id_usage_type_fec7e712_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_itemstat
    ADD CONSTRAINT stats_itemstat_item_id_usage_type_fec7e712_uniq UNIQUE (item_id, usage_type);


--
-- Name: stats_itemstat stats_itemstat_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_itemstat
    ADD CONSTRAINT stats_itemstat_pkey PRIMARY KEY (id);


--
-- Name: tierlist_tier tierlist_tier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tier
    ADD CONSTRAINT tierlist_tier_pkey PRIMARY KEY (id);


--
-- Name: tierlist_tier tierlist_tier_tierlist_id_god_id_d556b28f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tier
    ADD CONSTRAINT tierlist_tier_tierlist_id_god_id_d556b28f_uniq UNIQUE (tierlist_id, god_id);


--
-- Name: tierlist_tierlist tierlist_tierlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tierlist
    ADD CONSTRAINT tierlist_tierlist_pkey PRIMARY KEY (id);


--
-- Name: tierlist_tierlistcomment tierlist_tierlistcomment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tierlistcomment
    ADD CONSTRAINT tierlist_tierlistcomment_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: builds_build_god_id_4bc4b50d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_build_god_id_4bc4b50d ON public.builds_build USING btree (god_id);


--
-- Name: builds_build_passive_items_build_id_19a2eb6b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_build_passive_items_build_id_19a2eb6b ON public.builds_build_passive_items USING btree (build_id);


--
-- Name: builds_build_passive_items_item_id_ec320174; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_build_passive_items_item_id_ec320174 ON public.builds_build_passive_items USING btree (item_id);


--
-- Name: builds_build_relics_build_id_13b0c10c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_build_relics_build_id_13b0c10c ON public.builds_build_relics USING btree (build_id);


--
-- Name: builds_build_relics_item_id_66afddcb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_build_relics_item_id_66afddcb ON public.builds_build_relics USING btree (item_id);


--
-- Name: builds_build_starter_item_id_a9ec48f5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_build_starter_item_id_a9ec48f5 ON public.builds_build USING btree (starter_item_id);


--
-- Name: builds_build_user_id_a3504172; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_build_user_id_a3504172 ON public.builds_build USING btree (user_id);


--
-- Name: builds_buildrating_build_id_226c82e8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_buildrating_build_id_226c82e8 ON public.builds_buildrating USING btree (build_id);


--
-- Name: builds_buildrating_user_id_232d999e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX builds_buildrating_user_id_232d999e ON public.builds_buildrating USING btree (user_id);


--
-- Name: chat_chatroom_participants_chatroom_id_9c40ed95; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX chat_chatroom_participants_chatroom_id_9c40ed95 ON public.chat_chatroom_participants USING btree (chatroom_id);


--
-- Name: chat_chatroom_participants_user_id_9f2b6693; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX chat_chatroom_participants_user_id_9f2b6693 ON public.chat_chatroom_participants USING btree (user_id);


--
-- Name: chat_message_chat_room_id_bee2301e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX chat_message_chat_room_id_bee2301e ON public.chat_message USING btree (chat_room_id);


--
-- Name: chat_message_sender_id_991c686c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX chat_message_sender_id_991c686c ON public.chat_message USING btree (sender_id);


--
-- Name: dioses_god_abilities_ability_id_ef47db4c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX dioses_god_abilities_ability_id_ef47db4c ON public.dioses_god_abilities USING btree (ability_id);


--
-- Name: dioses_god_abilities_god_id_23263778; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX dioses_god_abilities_god_id_23263778 ON public.dioses_god_abilities USING btree (god_id);


--
-- Name: dioses_god_name_656cb0a8_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX dioses_god_name_656cb0a8_like ON public.dioses_god USING btree (name varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: forum_category_name_9f308696_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX forum_category_name_9f308696_like ON public.forum_category USING btree (name varchar_pattern_ops);


--
-- Name: forum_category_slug_50ca1b25_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX forum_category_slug_50ca1b25_like ON public.forum_category USING btree (slug varchar_pattern_ops);


--
-- Name: forum_comment_author_id_9e60eecd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX forum_comment_author_id_9e60eecd ON public.forum_comment USING btree (author_id);


--
-- Name: forum_comment_post_id_eb329692; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX forum_comment_post_id_eb329692 ON public.forum_comment USING btree (post_id);


--
-- Name: forum_post_author_id_609b7963; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX forum_post_author_id_609b7963 ON public.forum_post USING btree (author_id);


--
-- Name: forum_post_category_id_202e3ede; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX forum_post_category_id_202e3ede ON public.forum_post USING btree (category_id);


--
-- Name: gamemodes_gamemode_jungle_camps_gamemode_id_7c9e6a9e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gamemodes_gamemode_jungle_camps_gamemode_id_7c9e6a9e ON public.gamemodes_gamemode_jungle_camps USING btree (gamemode_id);


--
-- Name: gamemodes_gamemode_jungle_camps_junglecamp_id_3477d77c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gamemodes_gamemode_jungle_camps_junglecamp_id_3477d77c ON public.gamemodes_gamemode_jungle_camps USING btree (junglecamp_id);


--
-- Name: gamemodes_gamemode_name_49e69d6f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gamemodes_gamemode_name_49e69d6f_like ON public.gamemodes_gamemode USING btree (name varchar_pattern_ops);


--
-- Name: news_abilitybalance_ability_id_c6b4791e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_abilitybalance_ability_id_c6b4791e ON public.news_abilitybalance USING btree (ability_id);


--
-- Name: news_abilitybalance_god_balance_id_8bfee844; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_abilitybalance_god_balance_id_8bfee844 ON public.news_abilitybalance USING btree (god_balance_id);


--
-- Name: news_godbalance_god_id_8e999619; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_godbalance_god_id_8e999619 ON public.news_godbalance USING btree (god_id);


--
-- Name: news_godbalance_patch_id_0991ed5e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_godbalance_patch_id_0991ed5e ON public.news_godbalance USING btree (patch_id);


--
-- Name: news_itembalance_item_id_424fff09; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_itembalance_item_id_424fff09 ON public.news_itembalance USING btree (item_id);


--
-- Name: news_itembalance_patch_id_c8847ed5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_itembalance_patch_id_c8847ed5 ON public.news_itembalance USING btree (patch_id);


--
-- Name: objetos_item_categories_item_id_22f7c98b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX objetos_item_categories_item_id_22f7c98b ON public.objetos_item_categories USING btree (item_id);


--
-- Name: objetos_item_categories_itemcategory_id_eee66563; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX objetos_item_categories_itemcategory_id_eee66563 ON public.objetos_item_categories USING btree (itemcategory_id);


--
-- Name: objetos_item_from_item_id_79a3a028; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX objetos_item_from_item_id_79a3a028 ON public.objetos_item USING btree (from_item_id);


--
-- Name: objetos_item_name_1b44ed8c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX objetos_item_name_1b44ed8c_like ON public.objetos_item USING btree (name varchar_pattern_ops);


--
-- Name: objetos_itemcategory_name_69fc0fb3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX objetos_itemcategory_name_69fc0fb3_like ON public.objetos_itemcategory USING btree (name varchar_pattern_ops);


--
-- Name: randomizer_randomizerhistory_build_id_651b2011; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX randomizer_randomizerhistory_build_id_651b2011 ON public.randomizer_randomizerhistory USING btree (build_id);


--
-- Name: randomizer_randomizerhistory_god_id_66644bc8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX randomizer_randomizerhistory_god_id_66644bc8 ON public.randomizer_randomizerhistory USING btree (god_id);


--
-- Name: randomizer_randomizerhistory_user_id_80dc2d8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX randomizer_randomizerhistory_user_id_80dc2d8b ON public.randomizer_randomizerhistory USING btree (user_id);


--
-- Name: stats_godstat_god_id_b612c0b1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_godstat_god_id_b612c0b1 ON public.stats_godstat USING btree (god_id);


--
-- Name: stats_itemstat_item_id_155f5ed2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stats_itemstat_item_id_155f5ed2 ON public.stats_itemstat USING btree (item_id);


--
-- Name: tierlist_tier_god_id_13a55bf6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tierlist_tier_god_id_13a55bf6 ON public.tierlist_tier USING btree (god_id);


--
-- Name: tierlist_tier_tierlist_id_1c425e87; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tierlist_tier_tierlist_id_1c425e87 ON public.tierlist_tier USING btree (tierlist_id);


--
-- Name: tierlist_tierlist_user_id_cb15c1fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tierlist_tierlist_user_id_cb15c1fb ON public.tierlist_tierlist USING btree (user_id);


--
-- Name: tierlist_tierlistcomment_tierlist_id_2a46b68e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tierlist_tierlistcomment_tierlist_id_2a46b68e ON public.tierlist_tierlistcomment USING btree (tierlist_id);


--
-- Name: tierlist_tierlistcomment_user_id_a2462ed4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX tierlist_tierlistcomment_user_id_a2462ed4 ON public.tierlist_tierlistcomment USING btree (user_id);


--
-- Name: accounts_account accounts_account_user_id_d61b40c6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_account
    ADD CONSTRAINT accounts_account_user_id_d61b40c6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_build builds_build_god_id_4bc4b50d_fk_dioses_god_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build
    ADD CONSTRAINT builds_build_god_id_4bc4b50d_fk_dioses_god_id FOREIGN KEY (god_id) REFERENCES public.dioses_god(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_build_passive_items builds_build_passive_items_build_id_19a2eb6b_fk_builds_build_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build_passive_items
    ADD CONSTRAINT builds_build_passive_items_build_id_19a2eb6b_fk_builds_build_id FOREIGN KEY (build_id) REFERENCES public.builds_build(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_build_passive_items builds_build_passive_items_item_id_ec320174_fk_objetos_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build_passive_items
    ADD CONSTRAINT builds_build_passive_items_item_id_ec320174_fk_objetos_item_id FOREIGN KEY (item_id) REFERENCES public.objetos_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_build_relics builds_build_relics_build_id_13b0c10c_fk_builds_build_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build_relics
    ADD CONSTRAINT builds_build_relics_build_id_13b0c10c_fk_builds_build_id FOREIGN KEY (build_id) REFERENCES public.builds_build(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_build_relics builds_build_relics_item_id_66afddcb_fk_objetos_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build_relics
    ADD CONSTRAINT builds_build_relics_item_id_66afddcb_fk_objetos_item_id FOREIGN KEY (item_id) REFERENCES public.objetos_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_build builds_build_starter_item_id_a9ec48f5_fk_objetos_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build
    ADD CONSTRAINT builds_build_starter_item_id_a9ec48f5_fk_objetos_item_id FOREIGN KEY (starter_item_id) REFERENCES public.objetos_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_build builds_build_user_id_a3504172_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_build
    ADD CONSTRAINT builds_build_user_id_a3504172_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_buildrating builds_buildrating_build_id_226c82e8_fk_builds_build_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_buildrating
    ADD CONSTRAINT builds_buildrating_build_id_226c82e8_fk_builds_build_id FOREIGN KEY (build_id) REFERENCES public.builds_build(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: builds_buildrating builds_buildrating_user_id_232d999e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.builds_buildrating
    ADD CONSTRAINT builds_buildrating_user_id_232d999e_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chat_chatroom_participants chat_chatroom_partic_chatroom_id_9c40ed95_fk_chat_chat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_chatroom_participants
    ADD CONSTRAINT chat_chatroom_partic_chatroom_id_9c40ed95_fk_chat_chat FOREIGN KEY (chatroom_id) REFERENCES public.chat_chatroom(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chat_chatroom_participants chat_chatroom_participants_user_id_9f2b6693_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_chatroom_participants
    ADD CONSTRAINT chat_chatroom_participants_user_id_9f2b6693_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chat_message chat_message_chat_room_id_bee2301e_fk_chat_chatroom_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_message
    ADD CONSTRAINT chat_message_chat_room_id_bee2301e_fk_chat_chatroom_id FOREIGN KEY (chat_room_id) REFERENCES public.chat_chatroom(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: chat_message chat_message_sender_id_991c686c_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_message
    ADD CONSTRAINT chat_message_sender_id_991c686c_fk_auth_user_id FOREIGN KEY (sender_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dioses_god_abilities dioses_god_abilities_ability_id_ef47db4c_fk_dioses_ability_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dioses_god_abilities
    ADD CONSTRAINT dioses_god_abilities_ability_id_ef47db4c_fk_dioses_ability_id FOREIGN KEY (ability_id) REFERENCES public.dioses_ability(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: dioses_god_abilities dioses_god_abilities_god_id_23263778_fk_dioses_god_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dioses_god_abilities
    ADD CONSTRAINT dioses_god_abilities_god_id_23263778_fk_dioses_god_id FOREIGN KEY (god_id) REFERENCES public.dioses_god(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: forum_comment forum_comment_author_id_9e60eecd_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_comment
    ADD CONSTRAINT forum_comment_author_id_9e60eecd_fk_auth_user_id FOREIGN KEY (author_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: forum_comment forum_comment_post_id_eb329692_fk_forum_post_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_comment
    ADD CONSTRAINT forum_comment_post_id_eb329692_fk_forum_post_id FOREIGN KEY (post_id) REFERENCES public.forum_post(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: forum_post forum_post_author_id_609b7963_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_post
    ADD CONSTRAINT forum_post_author_id_609b7963_fk_auth_user_id FOREIGN KEY (author_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: forum_post forum_post_category_id_202e3ede_fk_forum_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.forum_post
    ADD CONSTRAINT forum_post_category_id_202e3ede_fk_forum_category_id FOREIGN KEY (category_id) REFERENCES public.forum_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gamemodes_gamemode_jungle_camps gamemodes_gamemode_j_gamemode_id_7c9e6a9e_fk_gamemodes; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gamemodes_gamemode_jungle_camps
    ADD CONSTRAINT gamemodes_gamemode_j_gamemode_id_7c9e6a9e_fk_gamemodes FOREIGN KEY (gamemode_id) REFERENCES public.gamemodes_gamemode(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gamemodes_gamemode_jungle_camps gamemodes_gamemode_j_junglecamp_id_3477d77c_fk_gamemodes; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gamemodes_gamemode_jungle_camps
    ADD CONSTRAINT gamemodes_gamemode_j_junglecamp_id_3477d77c_fk_gamemodes FOREIGN KEY (junglecamp_id) REFERENCES public.gamemodes_junglecamp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: news_abilitybalance news_abilitybalance_ability_id_c6b4791e_fk_dioses_ability_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_abilitybalance
    ADD CONSTRAINT news_abilitybalance_ability_id_c6b4791e_fk_dioses_ability_id FOREIGN KEY (ability_id) REFERENCES public.dioses_ability(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: news_abilitybalance news_abilitybalance_god_balance_id_8bfee844_fk_news_godb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_abilitybalance
    ADD CONSTRAINT news_abilitybalance_god_balance_id_8bfee844_fk_news_godb FOREIGN KEY (god_balance_id) REFERENCES public.news_godbalance(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: news_godbalance news_godbalance_god_id_8e999619_fk_dioses_god_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_godbalance
    ADD CONSTRAINT news_godbalance_god_id_8e999619_fk_dioses_god_id FOREIGN KEY (god_id) REFERENCES public.dioses_god(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: news_godbalance news_godbalance_patch_id_0991ed5e_fk_news_patchnotes_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_godbalance
    ADD CONSTRAINT news_godbalance_patch_id_0991ed5e_fk_news_patchnotes_id FOREIGN KEY (patch_id) REFERENCES public.news_patchnotes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: news_itembalance news_itembalance_item_id_424fff09_fk_objetos_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_itembalance
    ADD CONSTRAINT news_itembalance_item_id_424fff09_fk_objetos_item_id FOREIGN KEY (item_id) REFERENCES public.objetos_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: news_itembalance news_itembalance_patch_id_c8847ed5_fk_news_patchnotes_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_itembalance
    ADD CONSTRAINT news_itembalance_patch_id_c8847ed5_fk_news_patchnotes_id FOREIGN KEY (patch_id) REFERENCES public.news_patchnotes(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: objetos_item_categories objetos_item_categor_itemcategory_id_eee66563_fk_objetos_i; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_item_categories
    ADD CONSTRAINT objetos_item_categor_itemcategory_id_eee66563_fk_objetos_i FOREIGN KEY (itemcategory_id) REFERENCES public.objetos_itemcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: objetos_item_categories objetos_item_categories_item_id_22f7c98b_fk_objetos_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_item_categories
    ADD CONSTRAINT objetos_item_categories_item_id_22f7c98b_fk_objetos_item_id FOREIGN KEY (item_id) REFERENCES public.objetos_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: objetos_item objetos_item_from_item_id_79a3a028_fk_objetos_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetos_item
    ADD CONSTRAINT objetos_item_from_item_id_79a3a028_fk_objetos_item_id FOREIGN KEY (from_item_id) REFERENCES public.objetos_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: randomizer_randomizerhistory randomizer_randomize_build_id_651b2011_fk_builds_bu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.randomizer_randomizerhistory
    ADD CONSTRAINT randomizer_randomize_build_id_651b2011_fk_builds_bu FOREIGN KEY (build_id) REFERENCES public.builds_build(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: randomizer_randomizerhistory randomizer_randomizerhistory_god_id_66644bc8_fk_dioses_god_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.randomizer_randomizerhistory
    ADD CONSTRAINT randomizer_randomizerhistory_god_id_66644bc8_fk_dioses_god_id FOREIGN KEY (god_id) REFERENCES public.dioses_god(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: randomizer_randomizerhistory randomizer_randomizerhistory_user_id_80dc2d8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.randomizer_randomizerhistory
    ADD CONSTRAINT randomizer_randomizerhistory_user_id_80dc2d8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_godstat stats_godstat_god_id_b612c0b1_fk_dioses_god_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_godstat
    ADD CONSTRAINT stats_godstat_god_id_b612c0b1_fk_dioses_god_id FOREIGN KEY (god_id) REFERENCES public.dioses_god(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stats_itemstat stats_itemstat_item_id_155f5ed2_fk_objetos_item_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stats_itemstat
    ADD CONSTRAINT stats_itemstat_item_id_155f5ed2_fk_objetos_item_id FOREIGN KEY (item_id) REFERENCES public.objetos_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tierlist_tier tierlist_tier_god_id_13a55bf6_fk_dioses_god_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tier
    ADD CONSTRAINT tierlist_tier_god_id_13a55bf6_fk_dioses_god_id FOREIGN KEY (god_id) REFERENCES public.dioses_god(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tierlist_tier tierlist_tier_tierlist_id_1c425e87_fk_tierlist_tierlist_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tier
    ADD CONSTRAINT tierlist_tier_tierlist_id_1c425e87_fk_tierlist_tierlist_id FOREIGN KEY (tierlist_id) REFERENCES public.tierlist_tierlist(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tierlist_tierlist tierlist_tierlist_user_id_cb15c1fb_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tierlist
    ADD CONSTRAINT tierlist_tierlist_user_id_cb15c1fb_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tierlist_tierlistcomment tierlist_tierlistcom_tierlist_id_2a46b68e_fk_tierlist_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tierlistcomment
    ADD CONSTRAINT tierlist_tierlistcom_tierlist_id_2a46b68e_fk_tierlist_ FOREIGN KEY (tierlist_id) REFERENCES public.tierlist_tierlist(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tierlist_tierlistcomment tierlist_tierlistcomment_user_id_a2462ed4_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tierlist_tierlistcomment
    ADD CONSTRAINT tierlist_tierlistcomment_user_id_a2462ed4_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

