{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static 'logo/logo.png' %}" alt="Logo" height="40" class="me-2">
            <span>SmitePro</span>
        </a>

        <!-- Botón para dispositivos móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Enlaces del navbar -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'dioses_list' %}active{% endif %}" href="">Dioses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'habilidades_list' %}active{% endif %}" href="">Habilidades</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'perfil' %}active{% endif %}" href="">Perfil</a>
                </li>
                {% endif %}
            </ul>

            <!-- Opciones a la derecha -->
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-sign-out-alt me-2"></i>Cerrar sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-sign-in-alt me-2"></i>Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
