{% load static %}
{% include 'includes/header.html' %}
<body>
    {% include 'includes/navbar.html' %}
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-image: url("{% static 'fondo/fondo.jpg' %}"); /* Ruta de la imagen */
            background-size: cover; /* Cubre toda la pantalla */
            background-position: center center; /* Centra la imagen */
            background-attachment: fixed; /* Fondo fijo al hacer scroll */
            color: #dcdcdc; /* Texto claro para contraste */
            font-family: 'Arial', sans-serif; /* Fuente sencilla */
        }

        footer {
            background-color: #121212;
            color: #f0f0f0;
            text-align: center;
            min-height: 7vh;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: auto; /* Asegura que el footer esté al final */
        }

        .container-fluid {
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
            border-radius: 12px;
            background-color: rgba(18, 18, 18, 0.9); /* Fondo oscuro con transparencia */
            padding: 20px;
        }

        .azul-claro-smitepro {
            background-color: #536878; /* Azul oscuro suave */
            color: #dcdcdc;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .azul-claro-smitepro:hover {
            background-color: #35424a; /* Más oscuro al pasar el ratón */
            transform: scale(1.05);
        }

        .azul-claro-smitepro.active {
            background-color: #3c5565;
            color: white;
            outline: 2px solid #888;
            transform: scale(1);
        }

        .azul-oscuro-smitepro {
            background-color: #35424a;
            transition: background-color 0.3s ease, transform 0.3s ease;
            color: #f0f0f0;
        }

        .azul-oscuro-smitepro:hover {
            background-color: #252c31;
            transform: scale(1.05);
        }

        .gris-smitepro, .gris-smitepro-nav {
            color: white;
            background-color: #1f1f1f;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .gris-smitepro:hover {
            color: white;
            background-color: #2b2b2b;
            transform: scale(1.05);
        }
    </style>

    <!-- Contenedor Principal -->
    <div class="container-fluid mt-3 w-75">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
    {% include 'includes/footer.html' %}
</body>
</html>
