{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Tier Lists</h2>
    {% for tierlist in tierlists %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ tierlist.name }}</h5>
                <p class="card-text">Creado por: {{ tierlist.user.username }} el {{ tierlist.created_at }}</p>
                <a href="{% url 'tierlist_detail' tierlist.pk %}" class="btn btn-primary">Ver Tier List</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
